packages:
  - climate: github://bekdan1988/slwf01pro21/yaml/climate.yaml@main
  - device_base: github://bekdan1988/slwf01pro21/yaml/device_base.yaml@main
    web_server: !remove
  - strings_en: github://bekdan1988/slwf01pro21/yaml/strings_en.yaml@main
  # OR FOR HUNGARIAN LANGUAGE
  # - strings_hu: github://bekdan1988/slwf01pro21/yaml/strings_hu.yaml@main
  
  # - wifi: github://bekdan1988/slwf01pro21/yaml/wifi.yaml@main
    # OR IF THE AC IS ON AN ANOTHER SUBNET FOR IoT DEVICES
      # ADD THE FOLLOWING LINES TO SECRETS.YAML IN ESPHOME DEVICE BUILDER
        # iot_wifi_ssid: your_iot_wifi_ssid
        # iot_wifi_password: your_iot_wifi_password
        # air-conditioner_static_ip: Air Conditioner's IP address on the IoT Subnet
        # iot_wifi_gateway: The IoT Subnet's default gateway
        # iot_wifi_subnet: The Subnet's IP address  
  - wifi_iot: github://bekdan1988/slwf01pro21/yaml/wifi_iot.yaml@main

api:
  services:
    - service: follow_me
      variables:
        temperature: float
      then:
        midea_ac.follow_me:
          temperature: !lambda "return temperature;"
          beeper: false

uart:
  tx_pin: 12
  rx_pin: 14
  baud_rate: 9600
  
button:
  - platform: factory_reset
    id: factory_reset_btn
    name: ${factory_reset_button_name}
  - platform: template
    name: ${display_toggle_name}
    id: midea_display_toggle
    icon: mdi:theme-light-dark
    on_press:
      midea_ac.display_toggle:
  - platform: template
    name: ${swing_step_name}
    id: midea_swing_step
    icon: mdi:tailwind
    on_press:
      midea_ac.swing_step:

switch:
  - platform: template
    name: ${beeper_switch_name}
    id: midea_beeper
    icon: mdi:volume-source
    restore_mode: RESTORE_DEFAULT_OFF
    optimistic: true
    turn_on_action:
      midea_ac.beeper_on:
    turn_off_action:
      midea_ac.beeper_off:

remote_transmitter:
  pin: GPIO13                       
  carrier_duty_percent: 100%

sensor:
  - platform: wifi_signal
    name: ${wifi_signal_sensor_name}
    update_interval: 60s
  - platform: uptime
    name: "${uptime_sensor_name}"
    id: uptime_sec
    internal: true
  - platform: template
    name: ${uptime_days_sensor_name}
    lambda: |-
      return (id(uptime_sec).state/60)/60/24;
    icon: mdi:clock-start
    unit_of_measurement: ${uptime_days_unit_of_measurement}
    update_interval: 60s
    
script:
  - id: on_button_click
    then:
      midea_ac.power_toggle:
